<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/html/*</url-pattern>
    <url-pattern>/fonts/*</url-pattern>
    <url-pattern>/styles/*</url-pattern>
    <url-pattern>/images/*</url-pattern>
    <url-pattern>/scripts/*</url-pattern>
    <url-pattern>/error/*</url-pattern>
</servlet-mapping>
<error-page>
     <error-code>500</error-code>
     <location>/error/500.html</location>
 </error-page>
 <error-page>
     <error-code>404</error-code>
     <location>/error/404.html</location>
 </error-page>  
</web-app>